
.card {
    padding-left: 0;
    padding-right: 0;
    background-color: #ffffff;
    margin-top: 24px;
    box-shadow: 0 150 200px 100 rgba(198, 19, 19, 0.26);
}

.card-mesas {
    width: 80px;
    height: 40px !important;
    padding-left: 0;
    padding-right: 0;
    background-color: #fd59c1;
    margin-top: 24px;
    margin-right: 20px;
    height: 40px !important;
    box-shadow: 0 150 200px 100 rgba(198, 19, 19, 0.26);
}
.table_number {
    margin-top: 20px
}

//.card_index {
//    max-width: 320px;
//    max-width: 750px;
//    padding-left: 20;
//    padding-right: 20;
//    background-color: #00B8D9;
//    margin-top: 24px;
//    box-shadow: 0 150 200px 100 rgba(198, 19, 19, 0.26);
//}
//a.btn.btn-back {
//    background-color: #0d0d0dd4;
//    color: #ffffffed;
//}
//
//input#user_remember_me {
//    margin-right: 10px;
//    margin-bottom: 24px;
//}
//
//.flex-fill {
//    flex: 1 1 auto;
//}
//
//.card-header, .card-footer{
//    background-color: #77eaff;
//
//}
//.card-body{
//    background-color: #ffffff;
//    padding-left: 24px !important;
//    padding-right: 24px !important;
//
//}
//
//
//login-email, login-email, login-remember, login-button{
//    margin-bottom: 16px;
//}
//
//.btn-login{
//    background-color: #b95af8;
//    color: white;
//   // margin-left: 50px;
//    //margin-right: 50px;
//}
//
//.link-color-signing {
//    color: black;
//}
//
//.bold-label{
//    font-weight: 700;
//
//}