
.card {
    padding-left: 0;
    padding-right: 0;
    background-color: #ffffff;
    margin-top: 24px;
    box-shadow: 0 150 200px 100 rgba(198, 19, 19, 0.26);
}

.card-body{
    background-color: #ffffff;
    padding-left: 24px !important;
    padding-right: 24px !important
}

.card-body-products{
    background-color: #e4f7d2 !important;
    padding-left: 12px !important;
    padding-right: 12px !important
}

.card-footer-products{
    background-color: #fcfcfc !important;
    border-bottom: var(--bs-card-border-width) solid;
    border-right: var(--bs-card-border-width) solid;
    border-left: var(--bs-card-border-width) solid;
    border-color: #f8ecec  !important;

}


.card_products_section {
    min-height: 400px;
    padding-left: 0;
    padding-right: 0;
    background-color: #ffffff;
    margin-top: 24px;
    box-shadow: 0 150 200px 100 rgba(198, 19, 19, 0.26);
}

.card-mesas {
    width: 80px;
    height: 40px !important;
    padding-left: 0;
    padding-right: 0;
    background-color: #fd59c1;
    margin-top: 24px;
    margin-right: 20px;
    height: 40px !important;
    box-shadow: 0 150 200px 100 rgba(198, 19, 19, 0.26);
}
.table_number {
    margin-top: 20px
}

.btn-mesa {
    width: 80px;
    height: 40px !important;  
    background-color: #b95af8;
    color: white;  
}

.card_products {
    width: 200px;
    height: 240px !important;
    padding-left: 0;
    padding-right: 0;
    background-color: #e4f7d2;
    margin-top: 24px;
    margin-right: 20px;
    height: 40px !important;
    box-shadow: 0 150 200px 100 rgba(198, 19, 19, 0.26);
}

.input_qty{
    margin-left: 12px !important;
    margin-right: 12px !important;
    text-align: center !important;
}
//.flex-fill {
//    flex: 1 1 auto;
//}
//
//.card_index {
//    max-width: 320px;
//    max-width: 750px;
//    padding-left: 20;
//    padding-right: 20;
//    background-color: #00B8D9;
//    margin-top: 24px;
//    box-shadow: 0 150 200px 100 rgba(198, 19, 19, 0.26);
//}
//a.btn.btn-back {
//    background-color: #0d0d0dd4;
//    color: #ffffffed;
//}
//
//input#user_remember_me {
//    margin-right: 10px;
//    margin-bottom: 24px;
//}
//
//.flex-fill {
//    flex: 1 1 auto;
//}
//
//.card-header, .card-footer{
//    background-color: #77eaff;
//
//}
//.card-body{
//    background-color: #ffffff;
//    padding-left: 24px !important;
//    padding-right: 24px !important;
//
//}
//
//
//login-email, login-email, login-remember, login-button{
//    margin-bottom: 16px;
//}
//
//.btn-login{
//    background-color: #b95af8;
//    color: white;
//   // margin-left: 50px;
//    //margin-right: 50px;
//}
//
//.link-color-signing {
//    color: black;
//}
//
//.bold-label{
//    font-weight: 700;
//
//}